<!DOCTYPE html>
<html>
    <head>
        <h1>Who comes forward for adventure?</h1>
    </head>
    <a href="{{ url_for('home') }}" > Back Home </a> 
    <br>
    <br>
    <body> 
        You are a {{ race }} you trained as a {{ classes }} and your name is {{ name }} the {{ title }}.
        <br>
        <h2>
            The Last 5 Adventurers
        </h2>
        <p>
            {% for character in last_five_characters %}
            You are a {{ character.dbrace }} you trained as a {{ character.dbclass }} and your name is {{ character.dbname }} the {{ character.dbtitle }}.
            <br>
            {% endfor %}
        </p>
    </body>
</html>

