<html>
    <a href="{{ url_for('Player_Page') }}" > Back to Players Table </a>
    <div class='form'>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.Player_name.label }} {{ form.Player_name }}
            <br>
            {{ form.Character_Name.label }} {{ form.Character_Name}}
            <br>
            {{ form.Character_Level.label }} {{ form.Character_Level}}
            <br>
            {{ form.Character_Class.label }} {{ form.Character_Class}}
            <br>
            {{ form.Character_Race.label }} {{ form.Character_Race}}
            <br>
            {{ form.submit}}
        </form>
    </div>
</html>